{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bollyglam</title>
    <link rel="stylesheet" href=""{% static 'css/style.css' %}">
</head>
<body class="glam-page">
    <div class="section-hero">
        <div class="hero">
            <div class="card1">

            </div>
            <div class="card2">
                
            </div>
        </div>
    </div>
</body>
</html>