<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Express</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body class="home-page">
    <h1 class="home-line">Welcome To News Express</h1>
    <div class="home-container">
        <a href="cri/" class="home-button">Cricket News</a>
        <a href="bolly/" class="home-button">Bollywood News</a>
        <a href="polly/" class="home-button">Politics News</a>

    </div>

</body>

</html>